NationalParks.xsd

<?xml version ="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- Defining the root element -->
	<xsd:element name="NationalParks" type="NationalParksType"/>
	<xsd:complexType name="NationalParksType">
		<xsd:sequence>
			<xsd:element name="NationalPark" type="NationalParkType" minOccurs="10" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NationalParkType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Phone" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
			<xsd:sequence>
				<xsd:element name="Number" type="xsd:string"/>
				<xsd:element name="Street" type="xsd:string"/>
				<xsd:element name="City" type="xsd:string"/>
				<xsd:element name="State" type="xsd:string"/>
				<xsd:element name="Zip" type="xsd:string"/>
			</xsd:sequence>
			<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>
</xsd:schema>
					
